body{
    font-family: 'Uchen', serif;
margin: 0%;
}
h1{
    font-size: 50px;
}
.coloor{
    color: orange;
}
.flexibal-containar{
    display: flex;
 
}
.half-width{
    width: 50%;
padding-right: 100px;
padding-left: 4%;
padding-top: 3%;
}
.half-width img{
width: 90%;
padding-left: 5%;
padding-top: 8%;

}
.fooont{
    font-size: 14px;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient( orange, tomato);
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 40px;
    padding-top: 10px;
       
    }





}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

}
.back-img{
background-image: url(dream-bg.png);
background-repeat: no-repeat;
background-position: right bottom;




}



.experiance-area{
background-image: url(exp-bg.png);
background-repeat: no-repeat;
background-position: left ;
padding-top: 3%;


}
.down{

padding-bottom: 8%;



}
.iijd{
    padding-top: 15%;
}
.experiance1-item{
    width: 40%;
    margin-left: 3%;
    margin-right: 5%;
    padding-left: 6%;
   margin-bottom: 10%;
   border-radius: 10px;
   box-shadow: 10px 10px 50px gray;
   border-left: 10px solid;


}
#id-web{
    border-left: 10px solid;
border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
#id-web2{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
        border-image-slice: 1;

}
.fw{
    font-weight: 700;
}